
.button-red{
	appearance: none;
  font: inherit;
	border: solid 3px white;
	padding: 6px 30px;
  box-sizing: border-box;
  border-radius: 30px;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: bold;

  &:hover {
    background-color: white;
    color: #d22856;
  }

  &:active {
    background-color: white;
    color: #d22856bb;
  }

}
