.editor__description {
  display: block;
  text-align: center;
  margin: 20px auto;
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  width: 260px;
}

.editor__wrapper {
  background-color: @bg-darkwhite;
  padding-top: 20px;
  margin-bottom: 42px;
}

.editor__photo {
  margin: 0 auto;
  display: block;
  margin-bottom: 40px;
}

.editor__tools {
  list-style: none;
  margin: 0 auto;
  padding: 0 20px;
  width: 280px;
  position: relative;
  padding-bottom: 24px;
  border-bottom: 1px solid #dddfe0;
  margin-bottom: 38px;
}

.editor__tool {
  width: 280px;
  margin: 0 auto;
}

.editor__icon {
  color: @text-pink;
}

.editor__icon-wrapper {
  height: 76px;
  display: block;
  position: relative;
  z-index: 10;
}

.editor__tool--crop {
  & .editor__icon-wrapper {
    width: 93px;
    margin-left: 0;
  }

  & .editor__icon {
    margin-left: 34px;
  }
}

.editor__tool--fill {
  & .editor__icon-wrapper {
    width: 94px;
    margin-left: 93px;
  }

  & .editor__icon {
    margin-left: 19px;
    margin-top: 3px;
  }
}

.editor__tool--contrast {
  & .editor__icon-wrapper {
    width: 93px;
    margin-left: 187px;
  }

  & .editor__icon {
    margin-left: 15px;
    margin-top: 7px;
  }
}

.editor__tool--active {
  position: relative;
  z-index: 2;
}

.editor__tool--disabled {
  position: absolute;
  top: 0;
  z-index: 1;

  & .editor__icon {
    color: #b5b9be;
  }
}

.editor__range {
  display: block;
  appearance: none;
  width: 240px;
  height: 2px;
  background-color: @bg-text-blue;
  margin: 0 auto;

  &::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid @text-pink;
    background-color: @bg-darkwhite;
  }

  &::-moz-range-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid @text-pink;
    background-color: @bg-darkwhite;
  }
}

.editor__range-wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 9px 0;
  background-color: @bg-darkwhite;
}

.editor__buttons {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 30px;
  width: 280px;
}

.editor__button {
  margin-bottom: 12px;
}

@media (min-width: @tablet-width) {
  .editor__description {
    font-size: 18px;
    line-height: 30px;
    width: 420px;
    margin-top: 46px;
    margin-bottom: 70px;
  }

  .editor__photo {
    width: 300px;
    height: 400px;
    margin: 0;
  }

  .editor__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    margin: 0 auto;
    padding: 55px 20px;
    margin-bottom: -5px;
  }

  .editor__tool {
    width: 275px;
    position: static;
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
    padding-bottom: 5px;
    margin-bottom: 25px;
    border-bottom: 1px solid #dddfe0;
  }

  .editor__tools {
    margin: 0;
    padding: 0;
    width: auto;
    border-bottom: none;
    margin-bottom: 0;
  }

  .editor__range {
    width: 202px;
    margin: 0 18px;
  }

  .editor__range-wrapper {
    width: auto;
  }

  .editor__icon-wrapper {
    height: 40px;
    width: 30px;
  }

  .editor__tool-button-wrapper {
    width: 275px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }

  .editor__buttons {
    margin: 0;
    padding: 0;
    width: 260px;
  }

  .editor__button {
    margin-bottom: 25px;
  }

  .editor__button:last-child {
    margin-bottom: 0;
  }

  .editor__tool--crop {
    & .editor__icon-wrapper {
      height: 40px;
      width: 30px;
      margin: 0;
    }

    & .editor__icon {
      margin-left: 1px;
      margin-top: -2px;
      width: 26px;
      height: 25px;
      color: @text-pink;
    }
  }

  .editor__tool--fill {
    & .editor__icon-wrapper {
      height: 40px;
      width: 30px;
      margin: 0;
    }

    & .editor__icon {
      margin-left: 1px;
      margin-top: 1px;
      width: 25px;
      height: 25px;
      color: @text-pink;
    }
  }

  .editor__tool--contrast {
    & .editor__icon-wrapper {
      height: 40px;
      width: 30px;
      margin: 0;
    }

    & .editor__icon {
      margin-left: 7px;
      margin-top: 1px;
      width: 17px;
      height: 17px;
      color: @text-pink;
    }
  }
}

@media (min-width: @desktop-width) {
  .editor__description {
    margin-top: 5px;
    margin-bottom: 68px;
  }

  .editor__wrapper {
    width: 940px;
    box-sizing: border-box;
    padding-left: 80px;
    padding-right: 60px;
    margin-bottom: 30px;
  }

  .editor__tool-button-wrapper {
    width: 410px;
  }

  .editor__tool {
    width: 410px;
    padding-right: 0;
  }

  .editor__buttons {
    width: 410px;
    flex-direction: row;
    justify-content: space-between;
  }

  .editor__button {
    margin: 0;
    width: auto;
    min-width: 183px;
  }

  .editor__range {
    width: 288px;
    margin: 0 30px;
  }

  .editor__range-wrapper {
    margin-right: 0;
    margin-left: auto;
  }

  .editor__tool--crop {
    & .editor__icon {
      margin-left: -1px;
      margin-top: -15px;
      width: 47px;
      height: 47px;
    }
  }

  .editor__tool--fill {
    & .editor__icon {
      margin-left: -3px;
      margin-top: -11px;
      width: 54px;
      height: 48px;
    }
  }

  .editor__tool--contrast {
    & .editor__icon {
      margin-left: 5px;
      margin-top: -6px;
      width: 32px;
      height: 32px;
    }
  }

  .editor__icon-wrapper {
    width: 50px;
  }
}
