.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}

.form__name {
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
}

.form__textarea {
  margin: 0 auto;
  padding: 0;
  margin-bottom: 30px;
}

.form__contacts {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}

.form__achievements {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.form__os {
  margin: 0;
  padding: 0;
  margin-bottom: -3px;
}

.form__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.form__legend {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: normal;
  margin-bottom: 20px;
}

.form__red-star {
  color: @text-pink;
}

.form__submit {
  margin-bottom: 37px;
  align-self: stretch;
}

.form__legend-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .form {
    margin-bottom: 47px;
  }

  .form__name {
    margin-bottom: 0px;
    order: 1;
  }

  .form__os {
    order: 2;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .form__contacts {
    order: 3;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .form__achievements {
    order: 4;
    margin: 0 auto;
    margin-bottom: 65px;
  }

  .form__textarea {
    order: 5;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .form__footer {
    order: 6;
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    align-items: center;
  }

  .form__submit {
    width: 300px;
    margin: 0;
  }

  .form__legend {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 940px;
    margin: 0 auto;
  }

  .form__os {
    margin: 0;
    margin-bottom: 52px;
  }

  .form__name {
    margin-bottom: 52px;
  }

  .form__footer {
    width: 940px;
    padding: 0;
  }

  .form__legend-desktop {
    display: inline;
  }
}
