.page-header {

}

.page-footer__wrapper {
	width: 280px;
	padding: 0 20px;
	margin: 0 auto;
}




.page-footer--index {
display: none;
}

@media (min-width: @tablet-width) {

	.page-footer__wrapper {
		padding-top: 40px;
		width: 620px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.page-footer__logo-star {
		display: none;
	}

	.page-footer__dev-wrapper {
		position: relative;

		&::after {
			content: " ";
			position: absolute;
			right: 0;
			top: 0;
			width: 27px;
			height: 34px;
			background-image: url(../../img/htmlacademy.svg);
			background-repeat: no-repeat;
			background-size: 40px 40px;
			background-position: -6px -3px;
		}
	}

	.page-footer__developer {
		display: block;
		font-size: 18px;
		text-decoration: none;
		padding-right: 40px;
		color: @bg-text-blue;
	}


	.page-footer--index {
		display: block;
	}
}

@media (min-width: @desktop-width) {

	.page-footer__wrapper {
		width: 900px;
		padding: 0 150px;
		padding-top: 75px;
	}
}
