.popup {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-color: @bg-lightwhite;
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.15);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.popup__title {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 10px;
  padding-top: 40px;
  text-align: center;
}
.popup__text {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin: 0;
  margin-bottom: 38px;
}

.popup__btn-close {
  width: 280px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.popup--ok {
  background: linear-gradient(
    to top,
    @bg-darkwhite 0 163px,
    @bg-lightwhite 163px 100%
  );
}

.popup--ok .popup__text {
  margin-bottom: 85px;
}

.popup--no-js {
  display: none;
}

@media (min-width: @tablet-width) {
  .popup {
    width: 306px;
    padding: 0 75px;
  }

  .popup__title {
    font-size: 30px;
    line-height: 40px;
  }

  .popup__text {
    font-size: 18px;
    line-height: 24px;
  }

  .popup__btn-close {
    width: 306px;
  }
}

@media (min-width: @desktop-width) {
  .popup {
    width: 780px;
    box-sizing: border-box;
    text-align: center;
  }

  .popup--ok {
    & .popup__title,
    .popup__text {
      width: 392px;
      margin-left: auto;
      margin-right: auto;
    }

    & .popup__btn-close {
      width: 460px;
    }
  }

  .popup--failure {
    & .popup__title,
    .popup__text {
      width: 350px;
      margin-left: auto;
      margin-right: auto;
    }

    & .popup__btn-close {
      width: 300px;
    }
  }
}
